.modal-header, h4, .close {
    background-color:blue;
    color:white !important;
    text-align: center;
    font-size: 30px;
}

.modal-footer {
    background-color: #f9f9f9;
}
.body{
    padding-top: 0%;
}

/* header file css class */
  .heading {
    padding-top: 2%;
    text-align: center;
    color:blue;
    font-family:monospace;
  
 }

 hr.style13 {
	height: 10px;
	border: 0;
	box-shadow: 0 10px 10px -10px #8c8b8b inset;
}


hr.style14 { 
    border: 0; 
    height: 1px; 
    background-image: -webkit-linear-gradient(left, #f0f0f0, #7d8de6, #f0f0f0);
    background-image: -moz-linear-gradient(left, #f0f0f0, #7d8de6, #f0f0f0);
    background-image: -ms-linear-gradient(left, #f0f0f0, #7d8de6, #f0f0f0);
    background-image: -o-linear-gradient(left, #f0f0f0, #7d8de6, #f0f0f0); 
}

h2.note {
    font-size: xx-large;
    text-decoration: black;
    font-family: monospace;
    text-align: center;
}

h2.span.head {
    color: blue;
}

h3.note {
    font-size: xx-large;
    text-decoration: black;
    font-family: monospace;
    text-align: center;
}

.login {
    padding-top: 5%;
}
.loginn {
    background-color:rgb(90, 131, 221);
    font-family: monospace;
    color:white;
    font-size: x-large;
}

.signup{
    background-color:rgb(196, 130, 223);
    font-family: monospace;
    color:white;
    font-size: x-large;
}





.sb {
   padding-top: 20%;
}

.options{
    font-family: monospace;
    text-align: center;
}



.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    color:blue;
    text-align: center;
    height:auto;  
    font-size: x-large;  
    font-family: monospace;
 }

 .foot{
     padding-top: 1%;
     margin-bottom: 0;
}

.a{
    font-family: monospace;
    font-size: xx-large;
    color:yellowgreen;
}


@media only screen and (max-width: 600px) {
    .me{
       padding-top: 10%;
       width: 80%;
       height:60%;
       border-radius: 2%;
    }
    .icon{
        width:20%;
    }
    .images{
        align-content: center;
        width: 95%;
        height:100%;
    }
  
} 
@media only screen and (min-width: 750px) {
    .me{
       padding-top: 10%;
       width: 50%;
       height:50%;
       border-radius: 2%;
    }
    .icon{
        width:10%;
    }
   
} 
@media only screen and (min-width: 601px) {
    .me{
       padding-top: 10%;
       width: 50%;
       height:50%;
       border-radius: 2%;
    }
    .icon{
        width:10%;
    }
    
} 



@media only screen and (min-width: 992px) {
    .me{
        padding-top: 5%;
        width: 20%;
        height:40%;
        border-radius: 2%;
     }
    .icon{
        width:5%;
    }
    .log{
        padding-left: 43%;
    }
    .images{
        align-content: center;
        width: 70%;
        height:50%;
    }
} 

.ep{
    text-align: center;
    font-family: monospace;
    font-size:large;
    color:darkcyan;
}


/* ............................................................................. */
.allnotes{
    width: 100%;
    height:auto;
    /* border:groove;
    border-width: 1%; */
    padding-top: 10px;
    padding-bottom: 10px;
    align-content: center;
    align-items: center;
}

.templatenote{
    width: 90%;
    height:20%;
    border-radius: 10px;
    font-family: monospace;
    /* border: 2px solid blue; */
}
.logout{
    background-color: palevioletred;
    font-size: large;
    color: white;
}

.gotohome{
    width: auto;
}
.welcome{
    font-size:x-large;
    color:green;
}

